.admin-container {
  background-color: var(--color-greyish);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.admin-card {
  width: 95%;
  height: 95%;
  background-color: var(--bg-white);
  transition: background-color 0.4s;
  border-radius: 6px;
  padding:10px ;
}

.admin-scroller {
  width: 100%;
  height: 100%;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.admin-scroller::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.admin-scroller::-webkit-scrollbar-thumb {
  background-color: var(--color-greyish);
  border-radius: 4px !important;
}
