.post-code-container {
  overflow-y: auto;
}

.pc-input-label {
  font-family: var(--nato);
  font-weight: 500;
  margin-bottom: 5px;
  font-size: var(--fsize-14);
}

.pc-form-input {
  font-size: var(--fsize-14);
  font-weight: 400;
  background-color: var(--light-white);
  color: var(--text-dark);
}

.pc-form-input:focus {
  background-color: var(--light-white) !important;
  color: var(--text-dark);
}

.submit-btn,
.submit-btn:hover {
  background-color: var(--bg-dark);
  color: var(--text-white);
}
