@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-color: #ef233c;

  --bg-white: #ffffff;
  --bg-dark: #000000;
  --text-white: #ffffff;
  --text-dark: #000000;
  --text-light-dark: #212529;
  --code-g-bg: #e5e5e5;

  --mont: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --nato: "Noto Sans", sans-serif;
  --nato: "Montserrat", sans-serif;

  --light-dark: rgba(0, 0, 0, 0.1);
  --color-greyish: rgba(0, 0, 0, 0.3);
  --light-white: #f8f7ff;

  --fsize-24: 24px;
  --fsize-22: 22px;
  --fsize-18: 18px;
  --fsize-16: 16px;
  --fsize-14: 14px;
  --fsize-13: 13px;
  --fsize-12: 12px;
}

.dark-mode {
  --bg-dark: #ffffff;
  --bg-white: #212529;
  --text-dark: #ffffff;
  --text-white: #000000;
  --text-light-dark: #212529;
  --code-g-bg: #495057;

  --light-dark: rgba(255, 255, 255, 0.1);
  --color-greyish: rgba(255, 255, 255, 0.4);
  --light-white: #343a40;
}

.heading {
  font-size: 18px;
  font-weight: 600;
}

.para {
  font-family: var(--nato);
  font-size: var(--fsize-14);
  font-weight: 400;
}

.para-poppins {
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 400;
}

.hr-line {
  margin: 30px 0px;
}

@media (max-width: 768px) {
  :root {
    --fsize-14: 13px;
  }
}
