.patterns-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading-spinner-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-select-container,
.filter-select-container:focus {
  background-color: var(--bg-white);
  transition: background-color 0.4s;
  color: var(--text-dark);
  font-size: 12px !important;
  font-weight: 500 !important;
}

.retry-btn,
.retry-btn:hover {
  width: 70px;
  height: 36;
  font-size: var(--fsize-12);
  border: none;
  letter-spacing: 1px;
  border-radius: 4px;
  background-color: var(--bg-dark);
  color: var(--text-white);
}

.pattern-data-container {
  flex-grow: 2;
}

.server-error-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.server-error-image {
  width: 250px;
}

@media (max-width: 768px) {
  .server-error-image {
    width: 180px;
  }
}
